.App {
  text-align: center;
  height: 300vh;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.shape1 {
  height: 100px;
  width: 100px;
  background-color: coral;
}

.shape2 {
  height: 100px;
  width: 100px;
  background-color: yellow;
}

.shape3 {
  height: 100px;
  width: 100px;
  background-color: blue;
}
.shape4 {
  height: 100px;
  width: 100px;
  background-color: orangered;
}

.shape5 {
  height: 100px;
  width: 100px;
  background-color: grey;
}
.shape6 {
  height: 100px;
  width: 100px;
  background-color: pink;

  margin: 30px;
}
.shape7 {
  width: 300px;
}
button {
  width: 50px;
}
